body {
	background: honeydew;
}

.Navbar {
	background-color: lavender;
	padding: 5px;
	border: 2px solid black;
	margin-bottom: 10px;
	border-radius: 20px;
}

.Navbar-links a {
	padding-left: 10px;
	text-transform: uppercase;
}

.Navbar-links a:link {
	text-decoration: none;
}

.Navbar-links a:hover{
	cursor: pointer;
	color: black;
}

.Navbar-links a:link, a:visited{
	color: darkslategray;
}
form {
	position: relative;	
	background-color: oldlace;
	padding: 10px;
	border-radius: 20px;
	display: inline-block;
}

form input, label {
	display: block;
	border-radius: 20px;
}

form input {
	background-color: lightseagreen;
}

form label {
	margin-bottom: 5px;
}
footer {
	position: absolute;
	padding: 10px;
	bottom:0;
   	width:25%;
   	height:150px;
	background-color: lightgreen;
	display: inline-block;
	border-radius: 20px;
}

button {
	background-color: lavender;
	border-radius: 20px;
	float: right;
}

.error {
	color: red;
}
.success {
	color: green;
}

.reservationItem label {
	display: inline;
}