/*
Filename: Main.css
Author: Ryan Setaruddin
BCS 350- Web Database Developement
Professor Kaplan
Date: December 5, 2022
Purpose: To CSS for whole website
*/

body {
	background: honeydew;
	margin: 0px;
}
/*CSS for navigation bar*/
.Navbar {
	background-color: lavender;
	padding: 5px;
	border: 2px solid black;
	margin: 10px;
	border-radius: 20px;
}

.Navbar-links a {
	padding-left: 10px;
	text-transform: uppercase;
}

.Navbar-links a:link {
	text-decoration: none;
}

.Navbar-links a:hover{
	cursor: pointer;
	color: black;
}

.Navbar-links a:link, a:visited{
	color: darkslategray;
}
.Navbar img {
	width: 50px;
	height: auto;
}
.Navbar-links nav li ul {
	list-style-type: none;
}
/*CSS for forms*/
form {
	position: relative;	
	background-color: oldlace;
	padding: 10px;
	border-radius: 20px;
	display: inline-block;
}

form input, label {
	display: block;
	border-radius: 20px;
}

form input[type=text], textarea {
	width: 400px;
}

form input, textarea, select {
	background-color: lightseagreen;
	margin-bottom: 15px;
}

form label {
	margin-bottom: 5px;
}
/*CSS for content*/
#content {
	padding-bottom: 150px;
	text-align: center;
}
/*CSS for footer*/
footer {
	position: fixed;
	padding: 10px;
	margin: 10px;
	bottom:0;
   	width: 98%;
   	height:150px;
	background-color: lightgreen;
	border-radius: 20px;
}

footer img {
	width: 140px;
	height: auto;
	float: left;
}
/*CSS for button*/
button {
	background-color: lavender;
	border-radius: 20px;
	float: right;
}
/*CSS for messages*/
.error {
	color: red;
}
.success {
	color: green;
}
/*CSS for reservation items*/
.reservationItem label {
	display: inline;
}

/*CSS for action buttons*/

div.actionbtn {
	text-decoration: none;
	display: inline-block;
}

div.actionbtn button {
	float: left;
}

div.actionbtn a {
	text-decoration: none;
}

/* CSS for menu */
#menu {
	width: 75%;
	margin: auto;
}
.menucategory {
	padding: 20px 0px 30px 0px;
}
.menucategory:nth-child(even) {
	background-color: lightgreen;
	border-radius: 20px;
}

.menucategory:nth-child(odd) {
	background-color: white;
}
.menucategory .categoryheading {
	margin-bottom: 20px;
	font-family: cursive;
	font-size: 30px;
}
.menucategory .menuItem {
	margin-bottom: 15px;
}
.menucategory .menuItem div {
	text-transform: capitalize;
}

.menuItemImage {
	max-width: 25%;
	height: auto;
}